/* .big-block {  
  width: 60%;  
  margin: 10px 0;  
  border: 2px solid #000;  
  padding: 10px;  
}  

.small-block {  
  width: 100px; 
  height: 100px;  
  background-color: orange; 
  display: inline-block;  
  margin: 5px; 
  text-align: center;  
  line-height: 100px;  
  color: white; 
  font-weight: bold; 
}   */

/* .big-block {  
  margin: 20px 0;  
}  

.small-block {  
  width: 100px;  
  height: 100px;  
  border: solid 2px black;
  border-radius: 20%;
  background-color: white;  
  display: inline-block;  
  margin: 5px;  
  color: white;  
  text-align: center;  
  line-height: 100px;  
  cursor: pointer;  
}  */